{% load static %} <!-- Add this line at the top of your HTML file -->

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Calendar App{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/nprogress.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/green.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/jqvmap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>




<body class="nav-sm">
    <div class="container body">
        <div class="main_container">

<!-- top navigation -->
<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">

        <nav class="nav navbar-nav">
        <ul class=" navbar-right">
          <li class="nav-item dropdown open" style="padding-left: 15px;">
            <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                {% if user.is_authenticated %}
                <div class="user-info">
                <td>
                    <h2>Welcome: {{ user.username }}</h2>
                    <!-- Logout Form -->
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </td>
                </div>
                {% endif %}
            </a>
            <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item"  href="javascript:;"> Profile</a>
                <a class="dropdown-item"  href="javascript:;">
                  <span class="badge bg-red pull-right">50%</span>
                  <span>Settings</span>
                </a>
            <a class="dropdown-item"  href="javascript:;">Help</a>
              <a class="dropdown-item"  href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
            </div>
          </li>

         
        </ul>
      </nav>
    </div>
  </div>
<!-- /top navigation -->



        </div></div>

    {% block content %}
    {% endblock %}


<!-- JavaScript files should be included with the script tag -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/shBrushXml.js' %}"></script>
<script src="{% static 'js/shCore.js' %}"></script>

</body>
</html>
