{% extends 'calendarapp/base.html' %}
{% load static %} 

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<div class="custom-calendar-content">
    <h1>Calendar</h1>
    {% if is_admin %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add/Update Points</button>
        </form>
    {% endif %}


    <div class="navbar">
        <a href="{% url 'redeem_points' %}" class="btn-green">Redeem Points</a>
        <a href="{% url 'manage_point_requests' %}" class="btn-blue">Manage Points Request</a>
            <a href="{% url 'manage_point_requests' %}" >Manage Points Request</a>

        <!-- Other navigation links can go here -->
    </div>

    <div>
        <a href="{% url 'calendar' prev_year prev_month %}">&lt; Previous Month</a>
        <span>{{ year }}-{{ month }}</span>
        <a href="{% url 'calendar' next_year next_month %}">Next Month &gt;</a>
    </div>

    <table class="calendar-cc">
        <tr>
            <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th>
            <th>Fri</th><th>Sat</th><th>Sun</th>
        </tr>
        {% for week in month_days %}
            <tr>
                {% for day in week %}
                <td>
                    {{ day }}
                    {% for point in points_list %}
                        {% if point.date.day == day %}
                        <br> <!-- New line -->
                        {{ point.kid_name }}<br>
                        <div class="points-block">{{ point.points }} pts</div>
                        <a href="{% url 'delete_day_points' point.id %}" class="delete-link">Delete</a>
                        {% endif %}
                    {% endfor %}
                    {% for redeemed in redeemed_points_list %}
                        {% if redeemed.date_redeemed.day == day %}
                            <!-- Display redeemed points with kid's name -->
                            <div class="redeemed-points-block">
                                {{ redeemed.kid_name }}: {{ redeemed.item_name }} redeemed
                            </div>
                            <!-- Remove Redemption Link -->
                            <a href="{% url 'remove_redemption' redeemed.id %}" class="remove-link">Remove</a>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}

                {% if forloop.counter|divisibleby:7 %}
                </tr><tr>
                {% endif %}
                {% endfor %}
            </tr>
    </table>

    <div class="points-table">
        <table>
            <thead>
                <tr>
                    <th>Kid's Name</th>
                    <th>Total Points</th>
                    <th>Redeemed Points</th>
                    <th>Available Points</th>
                </tr>
            </thead>
            <tbody>
                {% for kid in kids_points %}
                <tr>
                    <td>{{ kid.kid_name }}</td>
                    <td>{{ kid.total_points }}</td>
                    <td>{{ kid.total_redeemed }}</td>
                    <td>{{ kid.available_points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

