{% load static %} <!-- Add this line at the top of your HTML file -->

<!DOCTYPE html>
<html>
<head>
    <title>Delete Confirmation</title>
</head>
<body>
    <h1>Are you sure you want to delete this entry?</h1>
    <p>{{ day_points.kid_name }}: {{ day_points.date }} - {{ day_points.points }} pts</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm Delete">
        <a href="{% url 'calendar' %}">Cancel</a>
    </form>
</body>
</html>
