{% load static %} <!-- Add this line at the top of your HTML file -->

<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Welcome to the Home Page!</h1>
    <a href="{% url 'public_calendar_home' %}">View Calendar</a>
    <a href="{% url 'redeem_points' %}">Go to Redeem</a> <!-- Link to the calendar -->
    <!-- Or use a button -->
    <!-- <form action="{% url 'calendar' %}">
        <input type="submit" value="Go to Calendar" />
    </form> -->
</body>
</html>
