{% extends 'calendarapp/base.html' %}

{% block content %}
<h1>Welcome to My Calendar App</h1>
<p>This is your go-to app for managing your calendar and events.</p>
<a href="{% url 'public_calendar_home' %}">View Calendar</a>
<!-- Include other links or sections as necessary -->
<h1>Terms and Agreement</h1>
    <h2>All Points are to be used by Kids freely for approved items, no questions shall be asked, and no addtional requirements shall be added.</h2>
    <h1 style="color: red">Holiday Deal: </h1> <h2 style="color: blue;">If no fighting/arguing with brother/sister for a full day, both of kid will get one point, and also enable the potential 2 hours free play for the next day</h2>
    <h1 style="color: red">2 Hours free play: </h1> <h2 style="color: blue;"> If Syon and Symoon did not fight or argue the day before, if they can be friendly with each other and no fighting, no arguing while play games together, they may have 2 hours Free TIME! </h2>
    <h2 style="color: red">However, if they fight or argue during the 2 hours, they will need to redeem the points. And Lost chance for 2 hours free play next day.</h2>
     <h1 style="color: red">Bonus free play: </h1> <h2 style="color: blue;"> If Syon and Symoon can have continous 2 Hrs free play everyday during one week, 5 days no fighing no arguing, they may entitle for FREE double 2 hrs weekend playday! </h2>
{% endblock %}
