{% extends 'calendarapp/base.html' %}

{% block content %}
<div class="login_wrapper">
    <div class="animate form login_form">
        
    <h2>Login to Sytar KBMS</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>

        <div class="clearfix"></div>
        <div class="separator">
            <p class="change_link">New to site?
              <a href="#signup" class="to_register"> Create Account </a>
            </p>
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw"></i> Sytar Kids Behaviour Management System</h1>
              <p>©2024 All Rights Reserved. Sytar KBMS. Privacy and Terms</p>
            </div>
        </div>        
    </form>

</div>
</div>

{% endblock %}



