{% extends 'calendarapp/base.html' %}

{% block content %}
    <h2>Manage Point Requests</h2>
    <table>
        <tr>
            <th>Kid Name</th>
            <th>Requested Points</th>
            <th>Reason</th>
            <th>Actions</th>
        </tr>
        {% for request in pending_requests %}
        <tr>
            <td>{{ request.kid_name.username }}</td>
            <td>{{ request.requested_points }}</td>
            <td>{{ request.reason }}</td>
            <td>
                <form method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ request.id }}">
                    <button name="action" value="approve" type="submit">Approve</button>
                </form>
                <form method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="request_id" value="{{ request.id }}">
                    <input type="text" name="rejection_reason" placeholder="Rejection reason">
                    <button name="action" value="reject" type="submit">Reject</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
