{% extends 'calendarapp/base.html' %}
{% load static %} <!-- Add this line at the top of your HTML file -->

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<div class="custom-calendar-content">

    <h1>Calendar</h1>
    {% if perms.calendarapp.can_redeem %}
        <div class="navbar">
            <a href="{% url 'redeem_points' %}" class="btn-green">Redeem Points</a>
            <a href="{% url 'request_points' %}" class="btn-orange">Request Points</a>
            <a href="{% url 'view_requests' %}" class="btn-blue">View My Points Request</a>
            <!-- Other navigation links can go here -->
        </div>
    {% endif %}

    <div>
        <a href="{% url 'public_calendar' prev_year prev_month %}">&lt; Previous Month</a>
        <span>{{ year }}-{{ month }}</span>
        <a href="{% url 'public_calendar' next_year next_month %}">Next Month &gt;</a>
    </div>
    


    <table class="calendar-cc">
        <tr>
            <th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th>
            <th>Fri</th><th>Sat</th><th>Sun</th>
        </tr>
        {% for week in month_days %}
            <tr>
                {% for day in week %}
                <td>
                    {{ day }}
                    {% for point in points_list %}
                        {% if point.date.day == day %}
                        <br> <!-- New line -->
                        {{ point.kid_name }}<br>
                        <div class="points-block">{{ point.points }} pts</div>
                        {% endif %}
                    {% endfor %}
                    {% for redeemed in redeemed_points_list %}
                        {% if redeemed.date_redeemed.day == day %}
                            <!-- Display redeemed points with kid's name -->
                            <div class="redeemed-points-block">
                                {{ redeemed.kid_name }}: {{ redeemed.item_name }} redeemed
                            </div>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endfor %}

            {% if forloop.counter|divisibleby:7 %}
            </tr><tr>
            {% endif %}
            {% endfor %}
        </tr>
    </table>

<div class="points-table">
    <table>
        <thead>
            <tr>
                <th>Kid's Name</th>
                <th>Total Points</th>
                <th>Redeemed Points</th>
                <th>Available Points</th>
            </tr>
        </thead>
        <tbody>
            {% for kid in kids_points %}
            <tr>
                <td>{{ kid.kid_name }}</td>
                <td>{{ kid.total_points }}</td>
                <td>{{ kid.total_redeemed }}</td>
                <td>{{ kid.available_points }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    </div>   
</div>

{% endblock %}
