{% extends 'calendarapp/base.html' %}
{% load static %}

{% block content %}
    <h1>Redeem Points</h1>
    <p>Your total points: {{ total_points }}</p>
    <p>Your available points: {{ available_points }}</p>
    {{ form.points_redeemed.as_p }}
    <p>
        <strong>Kid Name:</strong> {{ request.user.username }}
        <!-- <input name="kid_name" value="{{ request.user.username }}"> -->
        <!-- <input type="text" id="id_kid_name" name="kid_name" readonly> -->
    </p>
    
    <form method="post" id="redeemForm">
        {% csrf_token %}
        {{ form.as_p }}


        <p>
            <label for="id_kid_name">Kid Name:</label>
            <input type="text" name="kid_name" id="id_kid_name" value="{{ request.user.username }}" readonly>
        </p>
        <fieldset>
            <legend>{{ form.redeemable_item.label }}</legend>
            {% for item in redeemable_items %}
                <div>
                    <input type="radio" name="redeemable_item" id="item_{{ item.id }}" value="{{ item.id }}"
                           data-item-name="{{ item.name }}" data-item-points="{{ item.points_required }}"
                           onchange="checkPoints({{ total_points }}, {{ item.points_required }});"
                           >
                           <!-- <input type="radio" name="redeemable_item" id="item_{{ item.id }}" value="{{ item.id }}" onchange="checkPoints({{ total_points }}, {{ item.points_required }});"> -->
             
                    <label for="item_{{ item.id }}">
                        {{ item.name }} - {{ item.points_required }} pts
                        {% if item.image %}
                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="redeemable-item-image">
                        {% endif %}
                    </label>
                </div>
            {% endfor %}
        </fieldset>

        <p>
            <label for="id_points_redeemed">Points to Redeem:</label>
            <input type="text" id="id_points_redeemed" name="points_redeemed" readonly>
        </p>
        <!-- Date Redeemed -->
        <p>
            <label for="id_date_redeemed">Date Redeemed:</label>
            <input type="date" id="id_date_redeemed" name="date_redeemed" value="{{ today|date:'Y-m-d' }}">
        </p>
        <!-- Summary Field -->
        <p>
            <label for="id_summary">Summary:</label>
            <input type="text" id="id_summary" name="summary" readonly>
        </p>
        <!-- {{ form.as_p }} -->
        <button type="submit">Redeem</button>
    </form>

    <div id="statusBar"></div>
    <script>
        function checkPoints(totalPoints, itemPoints) {
            var statusBar = document.getElementById('statusBar');
            if(totalPoints >= itemPoints) {
                statusBar.innerHTML = 'You have sufficient points.';
                statusBar.style.color = 'green';
            } else {
                statusBar.innerHTML = 'Insufficient points.';
                statusBar.style.color = 'red';
            }
        }
    </script>
    <!-- <script>
        document.getElementById('redeemForm').addEventListener('submit', function() 
        {
            var selectedItem = document.querySelector('input[name="redeemable_item"]:checked');
            var summaryField = document.getElementById('summaryField');
            if (selectedItem) 
            {
                var itemName = selectedItem.getAttribute('data-item-name');
                var itemPoints = selectedItem.getAttribute('data-item-points');
                summaryField.value = itemName + ' redeemed by ' + '{{ request.user.username }}' + ' on ' + '{{ today|date:"Y-m-d" }}';
                this.appendChild('<input type="hidden" name="points_redeemed" value="' + itemPoints + '">');
            }

            // Create a new hidden input for points_redeemed
            var pointsInput = document.createElement('input');
            pointsInput.setAttribute('type', 'hidden');
            pointsInput.setAttribute('name', 'points_redeemed');
            pointsInput.setAttribute('value', itemPoints);

            // Append the new hidden input to the form
            this.appendChild(pointsInput);
        });
    </script> -->
    <script>
        document.querySelectorAll('input[name="redeemable_item"]').forEach(function(item) {
            item.addEventListener('change', function() {
                var itemPoints = this.getAttribute('data-item-points');
                document.getElementById('id_points_redeemed').value = itemPoints;
                document.getElementById('id_summary').value = this.getAttribute('data-item-name') + ' redeemed by ' + '{{ request.user.username }}' + ' on ' + '{{ today|date:"Y-m-d" }}';            });
        });
    </script>
{% endblock %}
