{% extends 'calendarapp/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12 col-sm-12  ">
    <div class="x_panel">
        <div class="x_title">
        <h1>Redeem Points</h1>
        <p>Your total points: {{ total_points }}</p>
        <p>Your available points: {{ available_points }}</p>
            <div class="clearfix"></div>
        </div> 
    <div class="x_content">
    {{ form.points_redeemed.as_p }}
    <p>
        <strong>Kid Name:</strong> {{ request.user.username }}
        <!-- <input name="kid_name" value="{{ request.user.username }}"> -->
        <!-- <input type="text" id="id_kid_name" name="kid_name" readonly> -->
    </p>
    
    <form method="post" id="redeemForm">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->


        <p>
            <label for="id_kid_name">Kid Name:</label>
            <input type="text" name="kid_name" id="id_kid_name" value="{{ request.user.username }}" readonly>
        </p>

        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
              <thead>
                <tr class="headings">
                  <th id="statusBar" class="column-title"> Please select Redeemable Item </th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                <!-- <fieldset> -->
                    <!-- <legend>{{ form.redeemable_item.label }}</legend> -->
                    {% for item in redeemable_items %}
                        <td>
                            <input type="radio" name="redeemable_item" id="item_{{ item.id }}" value="{{ item.id }}"
                                data-item-name="{{ item.name }}" data-item-points="{{ item.points_required }}"
                                onchange="checkPoints({{ available_points }}, {{ item.points_required }});"
                                >
                                <!-- <input type="radio" name="redeemable_item" id="item_{{ item.id }}" value="{{ item.id }}" onchange="checkPoints({{ total_points }}, {{ item.points_required }});"> -->
                    
                            <label for="item_{{ item.id }}">
                                {{ item.name }} - {{ item.points_required }} pts
                                {% if item.image %}
                                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="redeemable-item-image">
                                {% endif %}
                            </label>
                        </td>
                        {% if forloop.counter|divisibleby:3 and not forloop.last %}
                            </tr><tr>
                        {% endif %}
                    {% endfor %}
                    
                <!-- </fieldset> -->
                </tr>
                </tbody>
            </table>
        </div>


        <p>
            <label for="id_points_redeemed">Points to Redeem:</label>
            <input type="text" id="id_points_redeemed" name="points_redeemed" readonly>
        </p>
        <!-- Date Redeemed -->
        <p>
            <label for="id_date_redeemed">Date Redeemed:</label>
            <input type="date" id="id_date_redeemed" name="date_redeemed" value="{{ today|date:'Y-m-d' }}" readonly>
        </p>
        <p>
            <label for="id_item_name">Item Redeemed:</label>
            <input type="text" id="id_item_name" name="item_name" readonly>
        </p>        
        <!-- Summary Field -->
        <p>
            <label for="id_summary">Summary:</label>
            <input type="text" id="id_summary" name="summary" readonly>
        </p>
        <!-- {{ form.as_p }} -->
        <button type="submit">Redeem</button>
    </form>
</div>
</div>
</div>
    
    <script>
        function checkPoints(availablePoints, itemPoints) {
            var statusBar = document.getElementById('statusBar');
            if(availablePoints  >= itemPoints) {
                statusBar.innerHTML = 'You have sufficient points.';
                statusBar.style.color = 'green';
            } else {
                statusBar.innerHTML = 'Insufficient points.';
                statusBar.style.color = 'red';
            }
        }
    </script>
    <script>
        document.querySelectorAll('input[name="redeemable_item"]').forEach(function(item) {
            item.addEventListener('change', function() {
                var itemPoints = this.getAttribute('data-item-points');
                document.getElementById('id_points_redeemed').value = itemPoints;
                document.getElementById('id_item_name').value = this.getAttribute('data-item-name');
                document.getElementById('id_summary').value = this.getAttribute('data-item-name') + ' redeemed by ' + '{{ request.user.username }}' + ' on ' + '{{ today|date:"Y-m-d" }}';            });
                
        });
    </script>
{% endblock %}
