{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Remove Redemption Confirmation</title>
</head>
<body>
    <h1>Are you sure you want to remove this redemption?</h1>
    <p>Kid: {{ redemption.kid_name }}</p>
    <p>Date Redeemed: {{ redemption.date_redeemed }}</p>
    <p>Points Redeemed: {{ redemption.points_redeemed }}</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm Removal">
        <a href="{% url 'calendar' %}">Cancel</a>
    </form>
</body>
</html>
