{% extends 'calendarapp/base.html' %}

{% block content %}
    <h2>Request Points</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Request</button>
    </form>
{% endblock %}
