{% extends 'calendarapp/base.html' %}

{% block content %}
    <h2>Your Point Requests</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Requested Points</th>
            <th>Reason</th>
            <th>Status</th>
            <th>Rejection Reason</th>
        </tr>
        {% for request in point_requests %}
        <tr>
            <td>{{ request.date_requested }}</td>
            <td>{{ request.requested_points }}</td>
            <td>{{ request.reason }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.rejection_reason }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
