body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

a, input[type=submit] {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a:hover, input[type=submit]:hover {
    background-color: #45a049;
}
.points-block {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
}

.month-navigation a {
    margin: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: black;
    text-decoration: none;
    border-radius: 4px;
}

.month-navigation a:hover {
    background-color: #ddd;
}
/* ... existing styles ... */

a.delete-link {
    color: red;
    margin-left: 10px;
    padding: 2px 5px;
    font-size: 0.8em;
}

a.delete-link:hover {
    color: darkred;
}
.total-points, .available-points {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.points-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.points-table th, .points-table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.points-table th {
    background-color: #f2f2f2;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* New line */
}

td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    width: 14.28%; /* Equal width for 7 days a week */
}

.calendar {
    margin: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.calendar th {
    background-color: #e0e0e0;
}

.calendar td {
    background-color: #fff;
    height: 80px; /* Fixed height for each cell */
}
.navbar {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: right;
}

.navbar a {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ddd;
    color: black;
    text-decoration: none;
    border-radius: 4px;
}

.navbar a:hover {
    background-color: #ccc;
}
a.delete-redeem {
    color: red;
    /* additional styling */
}

a.delete-redeem:hover {
    /* hover styling */
}
.redeemed-points-block {
    display: inline-block;
    background-color: #FF6347; /* Tomato color for redeemed points */
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
    margin-top: 5px;
}

.remove-link {
    display: block;
    color: red;
    font-size: 0.8em;
}

.custom-calendar-content .btn-green {
    background-color: #4CAF50 !important; /* Green */
    color: white !important;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none !important;
}