.custom-calendar-content body {
    font-family: Arial, sans-serif;
}

.custom-calendar-content table {
    width: 100%;
    border-collapse: collapse;
}

.custom-calendar-content td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

.custom-calendar-content a, input[type=submit] {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-calendar-content a:hover, input[type=submit]:hover {
    background-color: #45a049;
}
.custom-calendar-content .points-block {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
}

.custom-calendar-content .month-navigation a {
    margin: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: black;
    text-decoration: none;
    border-radius: 4px;
}

.custom-calendar-content .month-navigation a:hover {
    background-color: #ddd;
}
/* ... existing styles ... */

.custom-calendar-content a.delete-link {
    color: red;
    margin-left: 10px;
    padding: 2px 5px;
    font-size: 0.8em;
}

.custom-calendar-content a.delete-link:hover {
    color: darkred;
}
.custom-calendar-content .total-points, .available-points {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.custom-calendar-content .points-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.custom-calendar-content .points-table th, .points-table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.custom-calendar-content .points-table th {
    background-color: #f2f2f2;
}

.custom-calendar-content table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* New line */
}

.custom-calendar-content td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
    width: 14.28%; /* Equal width for 7 days a week */
}

.custom-calendar-content .calendar-cc {
    margin: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.custom-calendar-content .calendar-cc th {
    background-color: #e0e0e0;
}

.custom-calendar-content .calendar-cc td {
    background-color: #fff;
    height: 80px; /* Fixed height for each cell */
}
.custom-calendar-content .navbar {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: right;
}

.custom-calendar-content .navbar a {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #FFA500;
    color: black;
    text-decoration: none;
    border-radius: 4px;
}

.custom-calendar-content .navbar a:hover {
    background-color: #ccc;
}

.custom-calendar-content .navbar a.btn-green {
    background-color: #4CAF50 !important;
    color: white !important;
}

.custom-calendar-content .navbar a.btn-orange {
    background-color: #FFA500 !important;
    color: white !important;
}

.custom-calendar-content .navbar a.btn-blue {
    background-color: #1E90FF !important;
    color: white !important;
}

.custom-calendar-content .navbar a.btn-green:hover {
    background-color: #45a049 !important;
}

.custom-calendar-content .navbar a.btn-orange:hover {
    background-color: #FF8C00 !important;
}

.custom-calendar-content .navbar a.btn-blue:hover {
    background-color: #1C86EE !important;
}


.custom-calendar-content a.delete-redeem {
    color: red;
    /* additional styling */
}

.custom-calendar-content a.delete-redeem:hover {
    /* hover styling */
}
.custom-calendar-content .redeemed-points-block {
    display: inline-block;
    background-color: #FF6347; /* Tomato color for redeemed points */
    color: white;
    padding: 3px 6px;
    border-radius: 4px;
    margin-top: 5px;
}

.custom-calendar-content .remove-link {
    display: block;
    color: red;
    font-size: 0.8em;
}

.custom-calendar-content .redeemable-item-image {
    max-width: 50;  /* or any other size */
    max-height: 100px;
    width: auto;
    height: auto;
}
